@model MASFlightBooking.Domain.ViewModels.AirlineViewModel

@{
    ViewData["Title"] = "GetDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetDetails</h1>

<div>
    <h4>AirlineViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirlineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirlineName)
        </dd>
    </dl>
</div>
<div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class = "btn btn-warning">Edit</a>

    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
